/* PAGINA CONTACTO */
#ubicacion{
    width: 45%;
    iframe{
        align-items: center;
        width: 100%;
    }
}
.flexContacto{
    width: 100%;
    height: auto;
    @include flex(row,nowrap,space-around,none);
    padding-bottom: 2.5rem;
    section{
        color: $color-texto;
        background-color: $color-secundario;
        width: 50%;
        form{
            margin: .3125rem;
            fieldset{
                font-family: 'Poppins', sans-serif;
                text-align: center;
                font-size: map-get($size , lg);
                padding-left: 1.875rem;
                color: $color-texto;
                @include flex(column,nowrap,none,flex-start);
                label{
                    margin: .3125rem;
                    font-size: map-get($size , m);
                    width: 95%;
                }
                input{
                    @extend label;
                    color: $color-secundario;
                    &:focus{
                        background-color: $color-principal;
                        color: $color-texto;
                    }
                }
            }
        }
    }
}
#submit{
    background-color: $color-principal;
    border-color: $color-principal;
    margin-bottom: .625rem;
    margin-top: .625rem;
    padding: .625rem;
    border-radius: .9375rem;
    color: $color-texto;
    &:active{
        background-color: $color-secundario;
        border-color: $color-secundario;
    }
}
#contacto{
    color: $color-secundario;
}